<!DOCTYPE html>
<head><link href="{{url_for('static', filename = 'style.css')}}"rel="stylesheet"></head>
<body>

    <center>
    <div style="padding-top: 100px;">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for  message in messages %}
            <p style="align-items: center; color: black;">{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
        <div>
        {% for table in tables %}
        {{ table|safe }}
        {% endfor %} 
        </div>
    </div> 
    <a href=#>go back to home page</a>
    </center>

</body>
</html>